// Fonts
$font-main: 'Roboto', sans-serif;
$font-re: "ResidentEvil7", 'Roboto', sans-serif;

// Colors
$color-primary: #ed7700; // Tu naranja actual
$color-bg-dark: rgba(0, 0, 0, 0.9);
$color-white: #ffffff;
$nav-bg: rgba(0, 0, 0, 0.95);
$font-size-base: 1rem; // 16px

// Breakpoints (Mobile First)
$tablet: 768px;
$desktop: 1024px;