@import './variables'; // Ajusta la ruta si es necesario

.main-footer-bottom {
  position: relative;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 3rem 1rem;
  text-align: center;

  .footer-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); // 2 columnas en móvil
    gap: 2rem;
    max-width: 800px;
    margin: 0 auto 3rem;
    padding: 0 1rem;

    @media (min-width: $tablet) {
      grid-template-columns: repeat(4, 1fr); // 4 columnas en PC
      gap: 1.5rem;
    }

    img {
      width: 100%;
      max-width: 150px; // Controlamos el tamaño real sin scale
      height: auto;
      transition: transform 0.3s ease;
      filter: grayscale(30%);

      &:hover {
        transform: translateY(-5px);
        filter: grayscale(0%);
      }
    }
  }

  .footer-platforms {
    margin-bottom: 3rem;
    
    img {
      width: 80%;
      max-width: 500px;
      height: auto;
      opacity: 0.8;
    }
  }

  .footer-social {
    img {
      width: 50%;
      max-width: 200px;
      height: auto;
    }
  }
}